.video-item {
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.video-item.item img {
  max-width: 140px;
}

@media (max-width: 1200px) {
  .video-item {
    flex-direction: column;
  }
}
